*.egg-info
experiment_script/log
**/__pycache__/

**/__pycache__/
LCRL/policy/__pycache__/
experiment_script/visualization/log/
experiment_script/final_runs/log
experiment_script/final_runs/data
experiment_script/final_runs/new_data
experiment_script/final_runs/plots
experiment_script/final_runs/new_data_corrected_Ld
experiment_script/final_runs/auto_plots
experiment_script/final_runs/video
experiment_script/final_runs/sac_experiments
experiment_script/final_runs/new_backup
experiment_script/final_runs/new_sac_experiments
experiment_script/final_runs/new_new_backup